<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
    <script async defer src="{{ url_for('static', filename='javascript/summary.js') }}"></script>
    <title>Summary</title>
</head>

<body>
    <div class="container">
        <h2>Document Summary</h2>
        <div class="summary-box">
            <p id="summary">{{ summary }}</p>
            <div class="btns">
                <button onclick="copyToClipboard()">Copy to Clipboard</button>

                <button><a href="/">Upload another PDF</a></button>
            </div>
        </div>
    </div>
</body>

</html>